In [ ]:
import tabula
import pandas as pd
from openpyxl import load_workbook
from PyPDF2 import PdfReader
from datetime import datetime

!jupyter nbextension enable --py widgetsnbextension
!jupyter notebook --VoilaConfiguration.enable_nbextensions=True 


reader = PdfReader("127744.PDF")
page = reader.pages[0]
text_total = page.extract_text()


gabarito_wb = load_workbook('GABARITO_jul22.xlsx')
gabarito = gabarito_wb['Gabarito']
table_list = tabula.read_pdf("127744.PDF", pages="all")
table = table_list[1]

In [101]:
new_row = table.columns
table.loc[3] = new_row
table.columns = table_list[0].columns
table = table[["Cód.Prod.Fornecedor","Qtde"]]
display(table)

  Cód.Prod.Fornecedor Qtde
0               10063  400
1               10065   20
2               10476   90
3               10066  120

In [102]:
df = pd.read_excel('Offpaper_Atacado.xlsx')
preco_tbl = df[['Referencia', 'PREÇO']]
display(preco_tbl.loc[7])

Referencia    10063.0
PREÇO             8.5
Name: 7, dtype: float64

In [103]:
code = table["Cód.Prod.Fornecedor"].tolist()
code = [int(item) for item in code]
cont = 0
print(code)
lista = []
for value in preco_tbl['Referencia']:
    if int(value) in code:
        preco = preco_tbl['PREÇO'][cont]
        lista.append(preco)
    cont += 1 
lista = ['1', '2', '3', '4']
display(table)

[10063, 10065, 10476, 10066]

  Cód.Prod.Fornecedor Qtde
0               10063  400
1               10065   20
2               10476   90
3               10066  120

In [104]:
codes = [str(item) for item in code]
Quantidade = table["Qtde"].tolist()
cont = 0
for celula in gabarito['B']:
    try:
        for cod in codes:
            if cod in celula.value:
                linha = celula.row
                gabarito[f'E{linha}'] = Quantidade[cont]
                gabarito[f'F{linha}'] = lista[cont]
                cont += 1
    except:
        pass

In [113]:
def crop(doc, start, end):
    return doc[doc.find(start):doc.find(end)+len(end)]

def cropr(doc, start, end):
    return doc[doc.find(start):doc.rfind(end)]

text = crop(text_total, "Endereço:", "P E")
text = cropr(text, "Endereço:", "P")
text = text.split(" - ")

bairro = text[1]
bairro = crop(bairro, bairro[0], "Fone").split(" ")
bairro = list(filter(None, bairro))
bairro.pop()
bairro = ' '.join(bairro)

endereco = text[0].split(": ")
endereco = endereco[1].strip()

cidade = text[3].strip()

estadoCnpj = text[4].split(": ")
estado = estadoCnpj[0].split(" ")
estado = list(filter(None, estado))
estado = estado[0].strip()

cnpj = estadoCnpj[1].strip()

insc = text[5].split(" ")
insc = list(filter(None, insc))
insc = insc[0].strip()

In [106]:
gabarito['C7'].value = 'KAZAN COM.IMPORTACAO E EXPORTACAO LTDA.'
gabarito['F7'].value = cnpj
gabarito['J7'].value = insc
gabarito['C8'].value = endereco
gabarito['E8'].value = bairro
gabarito['I8'].value = cidade
gabarito['M8'].value = estado
gabarito['C9'].value = 'LUCAS SANTOS'
gabarito['C6'].value = 'Penpel Representações'
gabarito['J6'].value = datetime.today().strftime('%d/%m/%Y')

In [107]:
gabarito_wb.save('GabaritoPerfeito.xlsx')